<div class="row">
	<div class="span3">
		<%= @user.avatar %><br />
		<h4><%= @user.username %></h4>
	</div>
	<div class="span9">
		<ul>
			<%= render partial: 'project_list', collection: @projects, as: :project %>
		</ul>
	</div>
</div>